<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Music</key>
	<dict>
		<key>0</key>
		<string>sounds/bg.mp3</string>
		<key>1</key>
		<string>sounds/bg_happy.mp3</string>
		<key>2</key>
		<string>sounds/bg_laizi.mp3</string>
	</dict>
	<key>Effect</key>
	<dict>
		<key>1</key>
		<string>sounds/landboy/bujiabei.wav</string>
		<key>2</key>
		<string>sounds/landboy/jiabei.wav</string>
		<key>3</key>
		<string>sounds/landboy/sange.mp3</string>
		<key>4</key>
		<string>sounds/landboy/shunzi.mp3</string>
		<key>5</key>
		<string>sounds/landboy/liandui.wav</string>
		<key>6</key>
		<string>sounds/landboy/feiji.wav</string>
		<key>7</key>
		<string>sounds/landboy/sandaiyi.wav</string>
		<key>8</key>
		<string>sounds/landboy/sandaiyidui.wav</string>
		<key>9</key>
		<string>sounds/landboy/sidaier.wav</string>
		<key>10</key>
		<string>sounds/landboy/sidailiangdui.wav</string>
		<key>11</key>
		<string>sounds/landboy/zhadan.wav</string>
		<key>12</key>
		<string>sounds/landboy/wangzha.wav</string>
		<key>13</key>
		<string>sounds/landboy/feiji.wav</string>
		<key>14</key>
		<string>sounds/landboy/feijichibang.mp3</string>
		<key>15</key>
		<string>sounds/landboy/sanshun.mp3</string>
		<key>16</key>
		<string>sounds/landboy/1.wav</string>
		<key>17</key>
		<string>sounds/landboy/2.wav</string>
		<key>18</key>
		<string>sounds/landboy/3.wav</string>
		<key>19</key>
		<string>sounds/landboy/4.wav</string>
		<key>20</key>
		<string>sounds/landboy/5.wav</string>
		<key>21</key>
		<string>sounds/landboy/6.wav</string>
		<key>22</key>
		<string>sounds/landboy/7.wav</string>
		<key>23</key>
		<string>sounds/landboy/8.wav</string>
		<key>24</key>
		<string>sounds/landboy/9.wav</string>
		<key>25</key>
		<string>sounds/landboy/10.wav</string>
		<key>26</key>
		<string>sounds/landboy/11.wav</string>
		<key>27</key>
		<string>sounds/landboy/12.wav</string>
		<key>28</key>
		<string>sounds/landboy/13.wav</string>
		<key>29</key>
		<string>sounds/landboy/14.wav</string>
		<key>30</key>
		<string>sounds/landboy/15.wav</string>
		<key>31</key>
		<string>sounds/landboy/dui1.wav</string>
		<key>32</key>
		<string>sounds/landboy/dui1.wav</string>
		<key>33</key>
		<string>sounds/landboy/dui2.wav</string>
		<key>34</key>
		<string>sounds/landboy/dui3.wav</string>
		<key>35</key>
		<string>sounds/landboy/dui4.wav</string>
		<key>36</key>
		<string>sounds/landboy/dui5.wav</string>
		<key>37</key>
		<string>sounds/landboy/dui6.wav</string>
		<key>38</key>
		<string>sounds/landboy/dui7.wav</string>
		<key>39</key>
		<string>sounds/landboy/dui8.wav</string>
		<key>40</key>
		<string>sounds/landboy/dui9.wav</string>
		<key>41</key>
		<string>sounds/landboy/dui10.wav</string>
		<key>42</key>
		<string>sounds/landboy/dui11.wav</string>
		<key>43</key>
		<string>sounds/landboy/dui12.wav</string>
		<key>44</key>
		<string>sounds/landboy/dui13.wav</string>
		<key>46</key>
		<string>sounds/landboy/buyao1.wav</string>
		<key>47</key>
		<string>sounds/landboy/buyao2.wav</string>
		<key>48</key>
		<string>sounds/landboy/buyao3.wav</string>
		<key>49</key>
		<string>sounds/landboy/buyao4.wav</string>
		<key>50</key>
		<string>sounds/landboy/1feng.mp3</string>
		<key>51</key>
		<string>sounds/landboy/1feng.mp3</string>
		<key>52</key>
		<string>sounds/landboy/2feng.mp3</string>
		<key>53</key>
		<string>sounds/landboy/3feng.mp3</string>
		<key>54</key>
		<string>sounds/landboy/bujiao.wav</string>
		<key>55</key>
		<string>sounds/landboy/spring.mp3</string>
		<key>60</key>
		<string>sounds/landshare/bomb1.mp3</string>
		<key>61</key>
		<string>sounds/landshare/clock.mp3</string>
		<key>62</key>
		<string>sounds/landshare/feiji.mp3</string>
		<key>63</key>
		<string>sounds/landshare/gamestart.mp3</string>
		<key>64</key>
		<string>sounds/landshare/outcard.mp3</string>
		<key>65</key>
		<string>sounds/landshare/rocket.mp3</string>
		<key>66</key>
		<string>sounds/landshare/sendcard.mp3</string>
		<key>67</key>
		<string>sounds/landshare/wefail.mp3</string>
		<key>68</key>
		<string>sounds/landshare/wewin.mp3</string>
		<key>70</key>
		<string>sounds/callscore/boy/0.mp3</string>
		<key>71</key>
		<string>sounds/callscore/boy/1.mp3</string>
		<key>72</key>
		<string>sounds/callscore/boy/2.mp3</string>
		<key>73</key>
		<string>sounds/callscore/boy/3.mp3</string>
		<key>74</key>
		<string>sounds/callscore/boy/4.mp3</string>
		<key>75</key>
		<string>sounds/callscore/boy/5.mp3</string>
		<key>76</key>
		<string>sounds/callscore/boy/6.mp3</string>
		<key>77</key>
		<string>sounds/callscore/boy/woqiang.mp3</string>
		<key>101</key>
		<string>sounds/landgirl/bujiabei.wav</string>
		<key>102</key>
		<string>sounds/landgirl/jiabei.wav</string>
		<key>103</key>
		<string>sounds/landgirl/sange.mp3</string>
		<key>104</key>
		<string>sounds/landgirl/shunzi.mp3</string>
		<key>105</key>
		<string>sounds/landgirl/liandui.wav</string>
		<key>106</key>
		<string>sounds/landgirl/feiji.wav</string>
		<key>107</key>
		<string>sounds/landgirl/sandaiyi.wav</string>
		<key>108</key>
		<string>sounds/landgirl/sandaiyidui.wav</string>
		<key>109</key>
		<string>sounds/landgirl/sidaier.wav</string>
		<key>110</key>
		<string>sounds/landgirl/sidailiangdui.wav</string>
		<key>111</key>
		<string>sounds/landgirl/zhadan.wav</string>
		<key>112</key>
		<string>sounds/landgirl/wangzha.wav</string>
		<key>113</key>
		<string>sounds/landgirl/feiji.wav</string>
		<key>114</key>
		<string>sounds/landgirl/feijichibang.mp3</string>
		<key>115</key>
		<string>sounds/landgirl/SanShun.mp3</string>
		<key>116</key>
		<string>sounds/landgirl/1.wav</string>
		<key>117</key>
		<string>sounds/landgirl/2.wav</string>
		<key>118</key>
		<string>sounds/landgirl/3.wav</string>
		<key>119</key>
		<string>sounds/landgirl/4.wav</string>
		<key>120</key>
		<string>sounds/landgirl/5.wav</string>
		<key>121</key>
		<string>sounds/landgirl/6.wav</string>
		<key>122</key>
		<string>sounds/landgirl/7.wav</string>
		<key>123</key>
		<string>sounds/landgirl/8.wav</string>
		<key>124</key>
		<string>sounds/landgirl/9.wav</string>
		<key>125</key>
		<string>sounds/landgirl/10.wav</string>
		<key>126</key>
		<string>sounds/landgirl/11.wav</string>
		<key>127</key>
		<string>sounds/landgirl/12.wav</string>
		<key>128</key>
		<string>sounds/landgirl/13.wav</string>
		<key>129</key>
		<string>sounds/landgirl/14.wav</string>
		<key>130</key>
		<string>sounds/landgirl/15.wav</string>
		<key>131</key>
		<string>sounds/landgirl/dui1.wav</string>
		<key>132</key>
		<string>sounds/landgirl/dui1.wav</string>
		<key>133</key>
		<string>sounds/landgirl/dui2.wav</string>
		<key>134</key>
		<string>sounds/landgirl/dui3.wav</string>
		<key>135</key>
		<string>sounds/landgirl/dui4.wav</string>
		<key>136</key>
		<string>sounds/landgirl/dui5.wav</string>
		<key>137</key>
		<string>sounds/landgirl/dui6.wav</string>
		<key>138</key>
		<string>sounds/landgirl/dui7.wav</string>
		<key>139</key>
		<string>sounds/landgirl/dui8.wav</string>
		<key>140</key>
		<string>sounds/landgirl/dui9.wav</string>
		<key>141</key>
		<string>sounds/landgirl/dui10.wav</string>
		<key>142</key>
		<string>sounds/landgirl/dui11.wav</string>
		<key>143</key>
		<string>sounds/landgirl/dui12.wav</string>
		<key>144</key>
		<string>sounds/landgirl/dui13.wav</string>
		<key>146</key>
		<string>sounds/landgirl/buyao1.wav</string>
		<key>147</key>
		<string>sounds/landgirl/buyao2.wav</string>
		<key>148</key>
		<string>sounds/landgirl/buyao3.wav</string>
		<key>149</key>
		<string>sounds/landgirl/buyao4.wav</string>
		<key>150</key>
		<string>sounds/landgirl/1feng.wav</string>
		<key>151</key>
		<string>sounds/landgirl/1feng.wav</string>
		<key>152</key>
		<string>sounds/landgirl/2feng.wav</string>
		<key>153</key>
		<string>sounds/landgirl/3feng.wav</string>
		<key>154</key>
		<string>sounds/landgirl/bujiao.wav</string>
		<key>155</key>
		<string>sounds/landgirl/spring.mp3</string>
		<key>160</key>
		<string>sounds/landshare/bomb1.mp3</string>
		<key>161</key>
		<string>sounds/landshare/clock.mp3</string>
		<key>162</key>
		<string>sounds/landshare/feiji.mp3</string>
		<key>163</key>
		<string>sounds/landshare/gamestart.mp3</string>
		<key>164</key>
		<string>sounds/landshare/outcard.mp3</string>
		<key>165</key>
		<string>sounds/landshare/rocket.mp3</string>
		<key>166</key>
		<string>sounds/landshare/sendcard.mp3</string>
		<key>167</key>
		<string>sounds/landshare/wefail.mp3</string>
		<key>168</key>
		<string>sounds/landshare/wewin.mp3</string>
		<key>170</key>
		<string>sounds/callscore/girl/0.mp3</string>
		<key>171</key>
		<string>sounds/callscore/girl/1.mp3</string>
		<key>172</key>
		<string>sounds/callscore/girl/2.mp3</string>
		<key>173</key>
		<string>sounds/callscore/girl/3.mp3</string>
		<key>174</key>
		<string>sounds/callscore/girl/4.mp3</string>
		<key>175</key>
		<string>sounds/callscore/girl/5.mp3</string>
		<key>176</key>
		<string>sounds/callscore/girl/6.mp3</string>
		<key>177</key>
		<string>sounds/callscore/girl/woqiang.mp3</string>
		<key>178</key>
		<string>sounds/landshare/remain2.mp3</string>		
		<key>179</key>
		<string>sounds/landshare/remain1.mp3</string>
	</dict>
</dict>
</plist>
