<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talk_ani_energy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,108},{10,8}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{10,8}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>talk_ani_energy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,80},{18,26}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{18,26}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>talk_ani_energy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{26,42}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{26,42}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>talk_ani_energy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{36,60}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{36,60}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>talk_ani_energy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talk_ani_energy.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2857b188cd5ca6ab36a3caa4a7113e$</string>
            <key>textureFileName</key>
            <string>talk_ani_energy.png</string>
        </dict>
    </dict>
</plist>
