<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fj_anim_plane_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200,118}</string>
                <key>spriteSize</key>
                <string>{195,139}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1382,1623},{195,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203,114}</string>
                <key>spriteSize</key>
                <string>{197,147}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1174,648},{197,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-201,95}</string>
                <key>spriteSize</key>
                <string>{207,185}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1445,1436},{207,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203,91}</string>
                <key>spriteSize</key>
                <string>{207,193}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1056,1549},{207,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-174,68}</string>
                <key>spriteSize</key>
                <string>{241,239}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{586,1549},{241,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,63}</string>
                <key>spriteSize</key>
                <string>{275,249}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1445,1185},{275,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,59}</string>
                <key>spriteSize</key>
                <string>{347,253}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{893,1200},{347,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-113,45}</string>
                <key>spriteSize</key>
                <string>{369,263}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{321,1328},{369,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,-10}</string>
                <key>spriteSize</key>
                <string>{347,305}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{586,1200},{347,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-7}</string>
                <key>spriteSize</key>
                <string>{383,345}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1340,2},{383,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,28}</string>
                <key>spriteSize</key>
                <string>{511,227}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{595,971},{511,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{531,297}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1174,886},{531,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{535,375}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1334,349},{535,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-11}</string>
                <key>spriteSize</key>
                <string>{591,353}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2,644},{591,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{661,321}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{671,325},{661,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{667,321}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2,2},{667,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{667,321}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{671,2},{667,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,317}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2,325},{667,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-15}</string>
                <key>spriteSize</key>
                <string>{577,321}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{595,648},{577,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-24}</string>
                <key>spriteSize</key>
                <string>{497,327}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2,999},{497,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,-18}</string>
                <key>spriteSize</key>
                <string>{445,317}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{2,1328},{445,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-20}</string>
                <key>spriteSize</key>
                <string>{295,299}</string>
                <key>spriteSourceSize</key>
                <string>{667,375}</string>
                <key>textureRect</key>
                <string>{{1148,1185},{295,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_anim_plane_cjb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,227}</string>
                <key>spriteSourceSize</key>
                <string>{237,227}</string>
                <key>textureRect</key>
                <string>{{827,1549},{237,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_goods.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,129}</string>
                <key>spriteSourceSize</key>
                <string>{162,129}</string>
                <key>textureRect</key>
                <string>{{1251,1623},{162,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_anim_plane_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,93}</string>
                <key>spriteSourceSize</key>
                <string>{175,93}</string>
                <key>textureRect</key>
                <string>{{321,1699},{175,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>FJAnimPlane.png</string>
            <key>size</key>
            <string>{1725,1794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fae116b3db0f301e354ba5883bd9e82:53e0d8e1dd8289b271d820963abc7188:2c54f473cf54d5449848f91382e6b810$</string>
            <key>textureFileName</key>
            <string>FJAnimPlane.png</string>
        </dict>
    </dict>
</plist>
