<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fj_com_next_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,46}</string>
                <key>spriteSourceSize</key>
                <string>{146,46}</string>
                <key>textureRect</key>
                <string>{{1048,565},{146,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_com_red_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,95}</string>
                <key>spriteSourceSize</key>
                <string>{272,95}</string>
                <key>textureRect</key>
                <string>{{2,897},{272,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_com_total_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,42}</string>
                <key>textureRect</key>
                <string>{{1004,565},{200,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{276,897},{103,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,525}</string>
                <key>spriteSourceSize</key>
                <string>{330,525}</string>
                <key>textureRect</key>
                <string>{{2,565},{330,525}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_item_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,216}</string>
                <key>spriteSourceSize</key>
                <string>{473,216}</string>
                <key>textureRect</key>
                <string>{{529,565},{473,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_item_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,216}</string>
                <key>spriteSourceSize</key>
                <string>{473,216}</string>
                <key>textureRect</key>
                <string>{{531,783},{473,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_one_txt_dt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{1113,613},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_one_txt_xt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{1048,644},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_total_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1273,561}</string>
                <key>spriteSourceSize</key>
                <string>{1273,565}</string>
                <key>textureRect</key>
                <string>{{2,2},{1273,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_total_txt_bf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{411,897},{77,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_total_txt_dxt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,28}</string>
                <key>spriteSourceSize</key>
                <string>{82,28}</string>
                <key>textureRect</key>
                <string>{{381,897},{82,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_total_txt_fj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{441,897},{77,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_total_txt_sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{471,897},{77,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_total_txt_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,28}</string>
                <key>spriteSourceSize</key>
                <string>{77,28}</string>
                <key>textureRect</key>
                <string>{{501,897},{77,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_result_txt_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{1196,565},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_ci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1175,633},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1205,633},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_fj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{1196,599},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_lost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1235,633},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_remain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{1048,613},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1175,663},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_result_txt_xiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1110,668},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>FJGameResult.png</string>
            <key>size</key>
            <string>{1277,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da5be7369a8c66b12d2923e9b25618ac:f08db8be029fece436ad5f6c6e6d3178:86f0fe5d1fdc1b38929c1aed12806102$</string>
            <key>textureFileName</key>
            <string>FJGameResult.png</string>
        </dict>
    </dict>
</plist>
