<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fj_bt_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{645,173},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_bt_reconnect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,65}</string>
                <key>spriteSourceSize</key>
                <string>{137,65}</string>
                <key>textureRect</key>
                <string>{{841,2},{137,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_bt_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{721,165},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_bt_room_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,51}</string>
                <key>spriteSourceSize</key>
                <string>{115,51}</string>
                <key>textureRect</key>
                <string>{{528,190},{115,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_bt_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{1162,53},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_bt_txt_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,42}</string>
                <key>spriteSourceSize</key>
                <string>{161,42}</string>
                <key>textureRect</key>
                <string>{{687,2},{161,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_bt_txt_js.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,42}</string>
                <key>spriteSourceSize</key>
                <string>{161,42}</string>
                <key>textureRect</key>
                <string>{{731,2},{161,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_com_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,91}</string>
                <key>spriteSourceSize</key>
                <string>{226,91}</string>
                <key>textureRect</key>
                <string>{{293,2},{226,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_com_btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,91}</string>
                <key>spriteSourceSize</key>
                <string>{226,91}</string>
                <key>textureRect</key>
                <string>{{386,2},{226,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_com_btn_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,104}</string>
                <key>spriteSourceSize</key>
                <string>{404,104}</string>
                <key>textureRect</key>
                <string>{{803,145},{404,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_com_txt_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,49}</string>
                <key>spriteSourceSize</key>
                <string>{273,49}</string>
                <key>textureRect</key>
                <string>{{1074,2},{273,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_desk_info_batt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{33,20}</string>
                <key>textureRect</key>
                <string>{{293,230},{33,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_desk_info_batt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{328,230},{20,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_desk_info_js_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,31}</string>
                <key>spriteSourceSize</key>
                <string>{139,31}</string>
                <key>textureRect</key>
                <string>{{808,2},{139,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_desk_info_sim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{947,116},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_desk_info_sim_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{369,230},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_desk_info_wf_st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,31}</string>
                <key>spriteSourceSize</key>
                <string>{141,31}</string>
                <key>textureRect</key>
                <string>{{775,2},{141,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_desk_info_wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{908,116},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_desk_info_wifi_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{340,230},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_desk_room_id_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,45}</string>
                <key>spriteSourceSize</key>
                <string>{202,45}</string>
                <key>textureRect</key>
                <string>{{479,2},{202,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_game_room_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,96}</string>
                <key>spriteSourceSize</key>
                <string>{186,96}</string>
                <key>textureRect</key>
                <string>{{526,2},{186,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_op_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,95}</string>
                <key>spriteSourceSize</key>
                <string>{246,95}</string>
                <key>textureRect</key>
                <string>{{2,2},{246,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_op_btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,95}</string>
                <key>spriteSourceSize</key>
                <string>{246,95}</string>
                <key>textureRect</key>
                <string>{{99,2},{246,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_op_btn_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,95}</string>
                <key>spriteSourceSize</key>
                <string>{246,95}</string>
                <key>textureRect</key>
                <string>{{196,2},{246,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_op_btn_txt_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,52}</string>
                <key>textureRect</key>
                <string>{{1022,2},{108,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_op_btn_txt_out_invalid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,52}</string>
                <key>textureRect</key>
                <string>{{1209,130},{108,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_op_btn_txt_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{110,50}</string>
                <key>textureRect</key>
                <string>{{1261,53},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_op_cd_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{908,2},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_op_cd_pb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1261,103},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fj_op_st_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,61}</string>
                <key>spriteSourceSize</key>
                <string>{169,61}</string>
                <key>textureRect</key>
                <string>{{624,2},{169,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_room_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{479,206},{44,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fj_room_head_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{1074,53},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>FJGameBase.png</string>
            <key>size</key>
            <string>{1371,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e0c89ef3bcae82624098d011553111f:e55ab191e880e2d71f4a0a08255a7f9d:12c1a54add4efc87d67c3c6631095d74$</string>
            <key>textureFileName</key>
            <string>FJGameBase.png</string>
        </dict>
    </dict>
</plist>
