<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,71}</string>
                <key>textureRect</key>
                <string>{{347,182},{56,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_black_tpl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1,485},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,240}</string>
                <key>spriteSourceSize</key>
                <string>{171,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_blank_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,143}</string>
                <key>spriteSourceSize</key>
                <string>{99,143}</string>
                <key>textureRect</key>
                <string>{{510,400},{99,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_color_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{174,424},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{258,424},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{342,424},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{426,424},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{488,182},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{522,182},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{556,182},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_color_s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{590,182},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_d_11_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{174,243},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_d_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{303,243},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_d_12_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{347,1},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_d_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{476,1},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_d_13_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{432,219},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_d_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{561,218},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_h_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,240}</string>
                <key>spriteSourceSize</key>
                <string>{171,240}</string>
                <key>textureRect</key>
                <string>{{1,243},{171,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_tag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{420,182},{35,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_zz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,240}</string>
                <key>spriteSourceSize</key>
                <string>{171,240}</string>
                <key>textureRect</key>
                <string>{{174,1},{171,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>FJPokerRes.png</string>
            <key>size</key>
            <string>{689,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db014219839107f24bcf84b3601c63f5:1fa337b0a03f4428bbfc346751e7180c:9b2aae162b8585b6260f857ded96328c$</string>
            <key>textureFileName</key>
            <string>FJPokerRes.png</string>
        </dict>
    </dict>
</plist>
