<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_poker_club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_club_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_smallking.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,197},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,392},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,587},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,587},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,587},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,587},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>lord_poker_square_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,587},{144,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,193}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigpoker2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:168430e18a72168574d330980767616a$</string>
            <key>textureFileName</key>
            <string>bigpoker2.png</string>
        </dict>
    </dict>
</plist>
