<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hldz_bg_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>hldz_bg_transblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{313,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,56}}</string>
                <key>sourceSize</key>
                <string>{313,56}</string>
            </dict>
            <key>hldz_img_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>hldz_img_mingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>hldz_img_sign_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>hldz_img_sign_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>hldz_img_type_duizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{82,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{82,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>hldz_img_type_santiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{82,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{82,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>hldz_img_type_shuangwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{82,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{82,40}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>hldz_img_type_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{82,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{82,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>hldz_img_type_tonghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{82,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{82,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>hldz_img_type_tonghuashun.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,91},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>hldz_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,91},{644,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{644,19}}</string>
                <key>sourceSize</key>
                <string>{646,21}</string>
            </dict>
            <key>hldz_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{646,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,21}}</string>
                <key>sourceSize</key>
                <string>{646,21}</string>
            </dict>
            <key>hldz_txt_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,135},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>happy_land.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d08ec56d7694fd1dff1617a94af7177a$</string>
            <key>textureFileName</key>
            <string>happy_land.png</string>
        </dict>
    </dict>
</plist>
