<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_anniu_huangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,384},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>ddz_anniu_qinlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,384},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>ddz_anniu_shuidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>ddz_di_wupink.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,86},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ddz_di_wupink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,86},{160,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,34}}</string>
                <key>sourceSize</key>
                <string>{160,34}</string>
            </dict>
            <key>ddz_jz_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{86,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,198}}</string>
                <key>sourceSize</key>
                <string>{86,198}</string>
            </dict>
            <key>ddz_jz_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ddz_tx_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ddz_tx_jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>ddz_tx_jb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>ddz_tx_pd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>ddz_tx_pd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>ddz_tx_pd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ddz_zi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>ddz_zi_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>ddz_zi_guanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,384},{184,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,96}}</string>
                <key>sourceSize</key>
                <string>{184,96}</string>
            </dict>
            <key>ddz_zi_gxnhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,196},{204,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,44}}</string>
                <key>sourceSize</key>
                <string>{204,44}</string>
            </dict>
            <key>ddz_zi_jinji.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>ddz_zi_kaishibisai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{478,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,118}}</string>
                <key>sourceSize</key>
                <string>{478,118}</string>
            </dict>
            <key>ddz_zi_lun.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{74,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>ddz_zi_mingjij.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,82}</string>
            </dict>
            <key>ddz_zi_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,86},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>ddz_zi_taotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>ddz_zi_yajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,384},{184,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,96}}</string>
                <key>sourceSize</key>
                <string>{184,96}</string>
            </dict>
            <key>ddz_zi_zlyju.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,86},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>lord_dds_bg_brownness.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,778},{420,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,186}}</string>
                <key>sourceSize</key>
                <string>{420,186}</string>
            </dict>
            <key>lord_dds_num_sprit.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>lord_dds_txt_tablenum.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,196},{191,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,32}}</string>
                <key>sourceSize</key>
                <string>{191,32}</string>
            </dict>
            <key>lord_history_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,482},{358,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,82}}</string>
                <key>sourceSize</key>
                <string>{358,82}</string>
            </dict>
            <key>lord_history_img_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,86},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>lord_history_img_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>lord_history_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,482},{294,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,49}}</string>
                <key>sourceSize</key>
                <string>{294,49}</string>
            </dict>
            <key>lord_jz_bg_product.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,196},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lord_kxyk_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{425,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,51}}</string>
                <key>sourceSize</key>
                <string>{425,51}</string>
            </dict>
            <key>lord_kxyk_bg_trans.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,86},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>lord_kxyk_bg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,86},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lord_kxyk_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,196},{173,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,56}}</string>
                <key>sourceSize</key>
                <string>{173,56}</string>
            </dict>
            <key>lord_kxyk_txt_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,86},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>lord_macth_bg_brownness.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{20,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,186}}</string>
                <key>sourceSize</key>
                <string>{20,186}</string>
            </dict>
            <key>lord_match_bg_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>lord_match_img_sprit.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>lord_match_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>lord_match_txt_diploma.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,196},{167,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,91}}</string>
                <key>sourceSize</key>
                <string>{167,91}</string>
            </dict>
            <key>lord_match_txt_gjzdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,682},{449,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,94}}</string>
                <key>sourceSize</key>
                <string>{449,94}</string>
            </dict>
            <key>lord_mathc_img_circle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>lord_mathc_img_circle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>paiyoufangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,86},{94,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,108}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landmatch.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5982668ace2749ab1c28964a3ee99380$</string>
            <key>textureFileName</key>
            <string>landmatch.png</string>
        </dict>
    </dict>
</plist>
