<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_anniu_lusejiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ddz_di_shenglihei.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{702,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,20}}</string>
                <key>sourceSize</key>
                <string>{702,20}</string>
            </dict>
            <key>ddz_di_shengliliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{1280,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,26}}</string>
                <key>sourceSize</key>
                <string>{1280,26}</string>
            </dict>
            <key>ddz_di_shibaihei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{694,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,18}}</string>
                <key>sourceSize</key>
                <string>{694,18}</string>
            </dict>
            <key>ddz_di_shibailiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,50},{1264,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1264,14}}</string>
                <key>sourceSize</key>
                <string>{1264,14}</string>
            </dict>
            <key>ddz_paidai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{694,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,230}}</string>
                <key>sourceSize</key>
                <string>{694,230}</string>
            </dict>
            <key>ddz_paidai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,70},{694,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,230}}</string>
                <key>sourceSize</key>
                <string>{694,230}</string>
            </dict>
            <key>ddz_tubiao_hjinydun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,70},{384,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,164}}</string>
                <key>sourceSize</key>
                <string>{384,164}</string>
            </dict>
            <key>ddz_tubiao_huangg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,70},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>ddz_tubiao_huangg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,70},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>ddz_tubiao_hyumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{220,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>ddz_tubiao_jinyuandun.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,302},{384,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,164}}</string>
                <key>sourceSize</key>
                <string>{384,164}</string>
            </dict>
            <key>ddz_tubiao_yumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,302},{220,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>ddz_zi_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,302},{270,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,118}}</string>
                <key>sourceSize</key>
                <string>{270,118}</string>
            </dict>
            <key>ddz_zi_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,302},{272,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,120}}</string>
                <key>sourceSize</key>
                <string>{272,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_jieshuan.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc52150f91391e4fec93a2677ac767e7$</string>
            <key>textureFileName</key>
            <string>land_jieshuan.png</string>
        </dict>
    </dict>
</plist>
