<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>land_dt_bt_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,585},{190,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,116}}</string>
                <key>sourceSize</key>
                <string>{192,116}</string>
            </dict>
            <key>land_dt_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,378},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>land_dt_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,546},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>land_dt_touxiangk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{596,74}}</string>
                <key>sourceSize</key>
                <string>{596,76}</string>
            </dict>
            <key>land_dt_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,804},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>land_dt_tx_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,677},{90,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>land_dt_tx_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,585},{90,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>land_dt_xx_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,703},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>land_enter_room_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,804},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>land_enter_room_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,804},{155,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,35}}</string>
                <key>sourceSize</key>
                <string>{155,35}</string>
            </dict>
            <key>land_enter_room_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{165,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,34}}</string>
                <key>sourceSize</key>
                <string>{165,34}</string>
            </dict>
            <key>land_enter_room_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,582},{166,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,35}}</string>
                <key>sourceSize</key>
                <string>{166,35}</string>
            </dict>
            <key>land_room_Low score.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,336},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>land_room_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,769},{199,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,75}}</string>
                <key>sourceSize</key>
                <string>{199,75}</string>
            </dict>
            <key>land_room_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,769},{199,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,75}}</string>
                <key>sourceSize</key>
                <string>{199,75}</string>
            </dict>
            <key>land_room_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,750},{196,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,77}}</string>
                <key>sourceSize</key>
                <string>{196,77}</string>
            </dict>
            <key>land_room_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,750},{204,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,71}}</string>
                <key>sourceSize</key>
                <string>{204,71}</string>
            </dict>
            <key>land_room_person_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,78},{283,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,254}}</string>
                <key>sourceSize</key>
                <string>{283,254}</string>
            </dict>
            <key>land_room_person_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{303,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,256}}</string>
                <key>sourceSize</key>
                <string>{303,256}</string>
            </dict>
            <key>land_room_person_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{256,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,264}}</string>
                <key>sourceSize</key>
                <string>{256,264}</string>
            </dict>
            <key>land_room_person_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,334},{283,249}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,249}}</string>
                <key>sourceSize</key>
                <string>{287,249}</string>
            </dict>
            <key>land_room_person_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{208,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,275}}</string>
                <key>sourceSize</key>
                <string>{208,275}</string>
            </dict>
            <key>land_room_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,908},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landhall_commom_1.png</string>
            <key>size</key>
            <string>{600,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ac9922dcf81b455409e5204ce43f29$</string>
            <key>textureFileName</key>
            <string>landhall_commom_1.png</string>
        </dict>
    </dict>
</plist>
