<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_hg_yinzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{156,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,124}}</string>
                <key>sourceSize</key>
                <string>{156,124}</string>
            </dict>
            <key>ddz_jz_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,434},{86,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ddz_jz_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,660},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>ddz_jz_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,764},{76,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,78}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ddz_jz_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,518},{140,84}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,84}}</string>
                <key>sourceSize</key>
                <string>{150,84}</string>
            </dict>
            <key>ddz_jz_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{690,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,116}}</string>
                <key>sourceSize</key>
                <string>{690,116}</string>
            </dict>
            <key>ddz_jz_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{690,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{690,104}}</string>
                <key>sourceSize</key>
                <string>{690,116}</string>
            </dict>
            <key>ddz_jz_yinzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,842},{156,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,124}}</string>
                <key>sourceSize</key>
                <string>{156,124}</string>
            </dict>
            <key>ddz_paidai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{694,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,230}}</string>
                <key>sourceSize</key>
                <string>{694,230}</string>
            </dict>
            <key>ddz_paidai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,150}}</string>
                <key>sourceSize</key>
                <string>{718,150}</string>
            </dict>
            <key>ddz_tubiao_hjinydun.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,842},{384,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,164}}</string>
                <key>sourceSize</key>
                <string>{384,164}</string>
            </dict>
            <key>ddz_tubiao_hyumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,820},{220,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>ddz_tubiao_jinbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,218},{264,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,214}}</string>
                <key>sourceSize</key>
                <string>{264,214}</string>
            </dict>
            <key>ddz_tubiao_jindun.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,434},{384,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,236}}</string>
                <key>sourceSize</key>
                <string>{384,236}</string>
            </dict>
            <key>ddz_tubiao_yinbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{264,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,214}}</string>
                <key>sourceSize</key>
                <string>{264,214}</string>
            </dict>
            <key>ddz_tubiao_yumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{220,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landmatch1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780ae0305d005e79c69f2e44b2f47ef7$</string>
            <key>textureFileName</key>
            <string>landmatch1.png</string>
        </dict>
    </dict>
</plist>
