<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_anniu_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,8},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>common_anniu_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,388},{234,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,90}}</string>
                <key>sourceSize</key>
                <string>{234,90}</string>
            </dict>
            <key>common_anniu_ls.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,388},{220,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,82}}</string>
                <key>sourceSize</key>
                <string>{220,82}</string>
            </dict>
            <key>common_anniu_lx.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,186},{128,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,52}}</string>
                <key>sourceSize</key>
                <string>{128,52}</string>
            </dict>
            <key>common_biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,132},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>common_gx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{94,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,2}}</string>
                <key>sourceSize</key>
                <string>{94,2}</string>
            </dict>
            <key>common_gx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{556,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,8}}</string>
                <key>sourceSize</key>
                <string>{556,8}</string>
            </dict>
            <key>common_jm_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,762},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>common_jm_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{644,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,70}}</string>
                <key>sourceSize</key>
                <string>{644,70}</string>
            </dict>
            <key>common_jm_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,240},{252,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,70}}</string>
                <key>sourceSize</key>
                <string>{252,70}</string>
            </dict>
            <key>common_jm_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{210,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,38}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>common_jm_di5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,312},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>common_jm_di6.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,388},{234,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,96}}</string>
                <key>sourceSize</key>
                <string>{234,96}</string>
            </dict>
            <key>common_jm_di7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,240},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>ddz_anniu_jinse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>ddz_anniu_lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,312},{140,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,74}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>ddz_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,762},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,158}}</string>
                <key>sourceSize</key>
                <string>{164,160}</string>
            </dict>
            <key>ddz_changtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,486},{76,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{76,124}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
            <key>ddz_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,86},{34,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>ddz_settings_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,240},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ddz_settings_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,132},{136,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,52}}</string>
                <key>sourceSize</key>
                <string>{136,52}</string>
            </dict>
            <key>ddz_settings_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{136,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,52}}</string>
                <key>sourceSize</key>
                <string>{136,52}</string>
            </dict>
            <key>ddz_settings_zi_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,86},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>ddz_tubiao_jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,86},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>ddz_tubiao_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,86},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>ddz_tubiao_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>ddz_xuanze_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,388},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>ddz_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,486},{106,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,128}</string>
            </dict>
            <key>ddz_zi_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>ddz_zi_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,86},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>ddz_zi_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,186},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>ddz_zi_saizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,46},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>ddz_zi_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,46},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>diz_anniu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>diz_di_laiotian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{556,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,8}}</string>
                <key>sourceSize</key>
                <string>{556,8}</string>
            </dict>
            <key>diz_hl_jdddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,186},{212,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,52}}</string>
                <key>sourceSize</key>
                <string>{212,52}</string>
            </dict>
            <key>diz_hl_jdksc.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,132},{212,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,52}}</string>
                <key>sourceSize</key>
                <string>{212,52}</string>
            </dict>
            <key>diz_tubaio_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,8},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>diz_tubaio_fang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,8},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>diz_tubaio_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,8},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>diz_tubaio_yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,8},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>diz_xian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,8},{2,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,20}}</string>
                <key>sourceSize</key>
                <string>{2,20}</string>
            </dict>
            <key>diz_xzdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{454,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,130}}</string>
                <key>sourceSize</key>
                <string>{454,130}</string>
            </dict>
            <key>diz_zi_chongshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,86},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>diz_zi_cjfjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,86},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>diz_zi_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,46},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>diz_zi_jdddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,186},{212,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,52}}</string>
                <key>sourceSize</key>
                <string>{212,52}</string>
            </dict>
            <key>diz_zi_jdksc.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,186},{212,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,52}}</string>
                <key>sourceSize</key>
                <string>{212,52}</string>
            </dict>
            <key>diz_zi_jiarufangj.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,46},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>diz_zi_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,86},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>lord_apply_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,486},{218,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,130}}</string>
                <key>sourceSize</key>
                <string>{218,130}</string>
            </dict>
            <key>lord_apply_img_hx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,2}}</string>
                <key>sourceSize</key>
                <string>{22,2}</string>
            </dict>
            <key>lord_apply_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,8},{4,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,18}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
            <key>lord_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>lord_dt_bg_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{383,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,97}}</string>
                <key>sourceSize</key>
                <string>{383,97}</string>
            </dict>
            <key>lord_dt_bg_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,388},{49,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,83}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>lord_dt_cb_circle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,8},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>lord_dt_cb_circle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,8},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>lord_dt_cb_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,8},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>lord_dt_cb_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,8},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>lord_dt_icon_applied.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,46},{132,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,37}}</string>
                <key>sourceSize</key>
                <string>{132,37}</string>
            </dict>
            <key>lord_dt_icon_classicroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,240},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>lord_dt_icon_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,8},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>lord_dt_icon_doing.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,46},{132,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,37}}</string>
                <key>sourceSize</key>
                <string>{132,37}</string>
            </dict>
            <key>lord_dt_icon_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,132},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lord_dt_icon_maintain.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,46},{132,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,37}}</string>
                <key>sourceSize</key>
                <string>{132,37}</string>
            </dict>
            <key>lord_dt_icon_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,762},{119,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,149}}</string>
                <key>sourceSize</key>
                <string>{119,149}</string>
            </dict>
            <key>lord_dt_icon_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,8},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>lord_dt_icon_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,86},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>lord_dt_icon_towroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,240},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>lord_dt_icon_unopened_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,618},{147,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,142}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>lord_dt_icon_unopened_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{147,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,142}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>lord_dt_icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,8},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>lord_dt_icon_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,132},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lord_dt_yellowbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,618},{297,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,141}}</string>
                <key>sourceSize</key>
                <string>{297,141}</string>
            </dict>
            <key>lord_dt_yellowbar_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{390,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,4}}</string>
                <key>sourceSize</key>
                <string>{390,4}</string>
            </dict>
            <key>lord_tc_img_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,240},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>lord_tc_txt_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,86},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>public_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,8},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tips_zi_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,132},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>tips_zi_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,132},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landhalltip.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94a0b36cd9ccf57a536e4e98d324a2e4$</string>
            <key>textureFileName</key>
            <string>landhalltip.png</string>
        </dict>
    </dict>
</plist>
