<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_ndz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,296}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{328,296}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>ddz_xnh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{324,324}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{324,324}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landhall_protal_classic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e70659410747b351d45216bbc2b69722$</string>
            <key>textureFileName</key>
            <string>landhall_protal_classic.png</string>
        </dict>
    </dict>
</plist>
